// FONTS
$base-font-size: 10;
$font-main: 'Lato', Helvetica, Verdana, sans-serif;

// BREAKPOINTS
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// MAIN SITE WIDTH
$site_width: 1024px;

// PADDINGS
$global_desktop_padding: 0 40px;
$global_tablet_padding: 0 30px;
$global_mobile_padding: 0 20px;

// COLORS
$black: #000;
$blue32: hsla(221, 40%, 32%, 1);
$red72: hsla(316, 100%, 72%, 1);
$white: #fff;
$yellow50: hsla(65, 100%, 50%, 1);
