$size-font: 15px;
$size-line: 24px;
$size-input-height: 44px; // https://adrianroselli.com/2019/06/target-size-and-2-5-5.html
$size-input-btn-height: 48px;
$size-font-button: 14px;

// Please note!
// The Velocity project adheres to use values multiples of 4 for margins/paddings/indents.
// This is not a mandatory but strongly recommended approach which allows to prevent excess crushing of values and
// makes development easier for FE and UI departments.

// 4px
// 8px
// 12px
// 16px
// 20px
// ...
