@import '../../scss/setting.scss';

.header {
    background-color: $black;
    position: sticky;
    top: 0;
    z-index: 2;

    &__inner {
        @include site_width;

        align-items: center;
        display: flex;
        height: 80px;
        justify-content: space-between;
    }
}
